body, ol {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
/* Первая линия меню */
#menu-top {
    clear: both;
    display: table;
    width: 100%;
}
.menu {
    width: 1140px;
    height: 100px;
    text-transform: uppercase;
}
menu ol {
    height: 100%;
}
.menu li {
    display: inline-block;
}
.menu a {
    text-decoration: none;
}
.logotype {
    float: left;
    margin: 28px 0;
    font-size: 36px;
    font-weight: 800;
    color: red;
}
.login {
    float: right;
}
.login i {
    margin: 40px 5px;
}
.login a {
    color: black;
    font-size: 20px;
    margin: 0 10px;
}
.cntt {
    float: right;
}
input.contact {
    width: 140px;
    height: 36px;
    margin: 32px 0;
    background-color: red;
    color: white;
    border: none;
    text-transform: uppercase;
    font-style: oblique;
    font-weight: 600;
    font-size: small;
}

/* Вторая линия меню */
#menu-bottom {
    clear: both;
    display: table;
    width: 100%;
    background-color: black;
}
.menu-lower {
    color: white;
    font-size: 24px;
}
.menu-lower li {
    padding: 35px 10px;
    transition: 0.6s;
}
.srch {
    float: right;
    padding: 30px 0;
    position: relative;
}
.srch input {
    height: 40px;
}
.material-symbols-outlined {
    color: gray;
    right: 10px;
    top: 37px;
    position: absolute;
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.menu-lower li:hover{
    background-color: red;
}
/* Окончание Хеадера */

/* Основная информация страницы: */

#container {
    clear: both;
    display: table;
    width: 100%;
}
.box {
    width: 1140px;
    margin: auto;
}
.content {
    width: 75%;
}
.content ul{
    padding-inline-start: 20px;
}
.content p {
    font-weight: 500;
}
.box h4{
    color: red;
}

.fts .product {
    float: left;
    width: 16%;
    margin-right: 7px;
}
.picture {
    height: 50%;
}
.description {
    height: 50%;
}
img {
    width: 100%;
}
.description a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: 0.6s;
}
.description :hover{
    color: rgb(234, 13, 234);
}


/* Медиа Запросы */

@media (min-width: 1200px) {
    .menu {
        width: 1140px;
        height: 100px;
        margin: auto;
    }
    .box {
        width: 1140px;
    }
}

@media (max-width: 1199px) {
    .menu {
        width: 960px;
        height: 100px;
        margin: auto;
    }
    .box {
        width: 960px;
    }
    .menu-lower a {
        font-size: 22px;
    }
    .description a {
        font-size: 14px;
    }
    .product {
        width: 15%;
        margin-right: 7px;
        margin-top: 20px;
    }
}
@media (max-width: 992px) {
    .menu {
        width: 740px;
        height: 100px;
        margin: auto;
    }
    .box {
        width: 740px;
    }
    .menu-lower a {
        font-size: 20px;
    }
    .description a {
        font-size: 12px;
    }
    .fts .product {
        width: 29%;
        margin-right: 5px;
    }
}
@media (max-width: 768px) {
    .menu {
        width: 600px;
        height: 100px;
        margin: auto;
    }
    .box {
        width: 600px;
    }
    .menu-lower a {
        font-size: 18px;
    }
    .fts .product {
        width: 48%;
        margin-right: 5px;
    }
}
